
	<!-- Section One -->
			<div class="wrapper style2">
				<section class="container">
					<div class="row double">
						<div class="4u">
							<header class="major">
								<h2 class = "decorated"> <span>What We Do </span> </h2>
								<span class="byline">Sigma Eta Pi is dedicated to developing human potential. Our mission is to transform individuals into starters who follow their passion, develop lasting relationships, and create value through innovative pursuits. 

We educate our brothers with the most comprehensive knowledge of the start-up ecosystem and venture processes and equip them with a concrete set of skills sourced from the diverse backgrounds of our house.</span>
							</header>
						</div>
						<div class="owl-carousel 8u">
							<% @testimonials.each do |testimonial| %>
								<div class="item">
										<div class="testimonial top">
											<%= testimonial.text %>
										</div>
										<div class="testimonial top only-mobile">
											<%= testimonial.author %> , <%= testimonial.author_role %>
										</div>
										<%= image_tag testimonial.image_url , class: :optional %>
										<div class="testimonial bottom optional">
											<%= testimonial.author %> , <%= testimonial.author_role %>
										</div>
								</div>
							<% end %>
					</div>
				</section>
			</div>

		<!-- Section Two -->
			<div class="wrapper style5">
				<section class="container">
					<header class="major">
						<h2 class = "decorated"> <span>Want To Learn More? </span></h2>
					</header>
					
					<div class="row">
						<div class="4u center">
							<%= link_to("Brothers", brothers_actives_path , class: "button alt") %>
						</div>
						<div class="4u center">
							<%= link_to("Ventures", companies_ventures_path , class: "button alt") %>
						</div>
						<div class="4u center">
							<%= link_to("Careers", companies_connections_path , class: "button alt") %>
						</div>
					</div>
				</section>
			</div>

		<!-- Section Three -->
			<%= render 'rush_event/list' %>
