<div id="header">
		<div class="container">
				
			<!-- Logo -->
				<h1> <%= link_to "Sigma Eta Pi", welcome_index_path, id: "logo" %></h1>
			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><%= link_to "Home", welcome_index_path %></a></li>
						<li>
							<%= link_to "Brothers", brothers_actives_path %>
							<ul>
								<li><%= link_to 'Actives', brothers_actives_path %></li>
								<li><%= link_to 'Executive Board', brothers_executive_board_path %></li>
								<li><%= link_to 'Pledge Classes', brothers_pledge_classes_path %></li>
							</ul>
						</li>
						
						<li> <%= link_to "Careers", companies_connections_path %> </li>
						<li> <%= link_to "Ventures", companies_ventures_path %> </li>
						<li> <%= link_to "About Us", welcome_about_us_path %> </li>
						<li><%= link_to "Rush", rush_event_events_path %></li>
					</ul>
				</nav>
		</div>
	</div>