<div class="wrapper style3">
	<section class="container">
		<header class="major">
			<h2 class = "decorated"> <span> Spring 2015 Rush </span> </h2>
			<span class="byline"></span>
		</header>
		<% RushEvent.all.each_slice(3) do |row| %>
			<div class="row flush brorow">
				<% row.each do |event| %>

					<div class="4u">

						<h2> <%= event.name %></h2>
						<% if !event.subtitle.nil? %>
							<span class = ""> <%= event.subtitle %></span>
							<br>
						<% end %>

						<span class="broprop"> Date </span>
						<% if event.date %>
							<span> <%= event.date %></span>
						<% end %>
						<% if !event.time.nil? %>
							<br>
							<span class="broprop"> Time </span>
							<span> <%= event.time %></span>
						<% end %>

						<br>

						<% if !event.location.nil? %>
							<span class="broprop"> Location </span>
							<span> <%= event.location %></span>
						<% end %>
					</div>

				<% end %>
			</div>
		<% end %>

		<br>
		<%= link_to("Apply", "http://apply.ucberkeleysep.com" , class: "button alt") %>
		<header class="major" > <div class="byline">  Applications Due Saturday, January 31 at 1am (Friday Night) </div>
		<div class="byline"> You must be available Tuesdays and Thursdays at 8PM </div> </header>
	</section>
</div>