

<% @categories.each do |category| %>
	<% if !category[0].nil? and (category[0] != "Entrepreneurship") %>
	<br>
	<table>
		
		<h2 class=""> <span> <%= category[0] %> </span> </h2>
		<br>
		<% category[1].each do |job| %>
			<tr> 
				<td class="name-column"> <%= job.brother.name %> </td>
				<td> <%= job.role %> </td>
				<td> <%= job.company.name %> </td>
				<td class="optional"> <%= job.location %> </td>
			</ui>
		<% end %>
	</table>
	<% end %>
<% end %>

