<h2> <%= @brother.name %> </h2>
<h3> <span> <%= @brother.pledge_class %> </span> *** <span> Tech Chair </span> </h3>
<div class="">
    <div class='property'>
        <span class='broprop'></span>
        <span class=''></span>
    </div>
    <hr>
    <div class='property'>
        <span class='broprop'> Graduating Class </span>
        <span class=''> <%= @brother.grad_year.year %> </span>
    </div>
    <hr>
    <div class='property'>
        <span class='broprop'> Major </span>
        <span class=''> <%= @brother.major%> </span>
    </div>
    <hr>
    <div class='property'>
        <span class=''> <%= @brother.description %> </span>
    </div>
</div>