<h2> <%= @brother.name %> </h2>
<h3> <span class="pledge-class"> 
    <%=@brother.pledge_class.name + " " %> 
     </span> 
    <% if !@brother.role.nil? %>
        <span class="role"> <%=@brother.role%></span> 
    <% end %>
</h3>
<div class="">
    <div class='property'>
        <span class='broprop'></span>
        <span class=''></span>
    </div>
    <div class='property'>
        <span class='broprop'> Graduating Class </span>
        <span class=''> <%= @brother.grad_year.year %> </span>
    </div>
    <div class='property'>
        <span class='broprop'> Major </span>
        <span class=''> <%= @brother.major%> </span>
    </div>
    

    <div class='property'>
    <% if (!@brother.jobs.empty?) %>
        <span class='broprop'> Experience </span>
        <% @brother.jobs.each do |job| %>
            <br>
            <span> <%= job.role %> @ <%= job.company.name %> </span>

        <% end %>
    <hr>
    <div class='property'>
        <span class=''> <%= @brother.description %> </span>
    </div>
    <% end %>
    </div>
</div>