<%= render 'shared/head' %>
<%= render 'shared/header' %>

<div id="main" class="wrapper style3">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="5u brosidebar">
                <section>
                    <header class="major">
                        <%= image_tag @brother.image, class: 'image'%>
                    </header>                                   
                    
                </section>
            </div>

            <!-- Content -->
            <div id="content" class="7u skel-cell-important">
                <section class="property-container">
                    <header class="major">
                        <h2> <%= @brother.name %> </h2>
                        <h3> <span> <%= @brother.pledge_class %> </span> *** <span> Tech Chair </span> </h3>
                        <div class="">
                            <div class='property'>
                                <span class='broprop'></span>
                                <span class=''></span>
                            </div>
                            <hr>
                            <div class='property'>
                                <span class='broprop'> Graduating Class </span>
                                <span class=''> <%= @brother.grad_year.year %> </span>
                            </div>
                            <hr>
                            <div class='property'>
                                <span class='broprop'> Major </span>
                                <span class=''> <%= @brother.major%> </span>
                            </div>
                            <hr>
                            <div class='property'>
                                <span class=''> <%= @brother.description %> </span>
                            </div>
                        </div>
                    </header>
                </section>
            </div>
        </div>
    </div>
</div>