<%= render 'shared/head' %>
<%= render 'shared/header' %>

<div id="main" class="wrapper style3">
    <div class="container">
        <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="5u brosidebar">
                <section>
                    <header class="major">
                        <h2> <%= @brother.name %> </h2>
                        <%= image_tag @brother.image, class: 'image'%>
                    </header>                                   
                    
                </section>
            </div>

            <!-- Content -->
            <div id="content" class="7u skel-cell-important">
                <section class="container">
                    <header class="major">
                        <h2> <%= @brother.name %> </h2>
                        <div class="">
                            <div class='property'>
                                <span class='broprop'></span>
                                <span class=''></span>
                            </div>
                            <div class='property'>
                                <span class='broprop'> Graduating Class </span>
                                <span class=''> <%= @brother.grad_year.year %> </span>
                            </div>

                            <div class='property'>
                                <span class='broprop'> Major </span>
                                <span class=''> <%= @brother.major%> </span>
                            </div>

                            <div class='property'>
                                <span class='broprop'> Graduating Class </span>
                                <span class=''> <%= @brother.grad_year %> </span>
                            </div>
                        </div>
                    </header>
                </section>
            </div>
        </div>
    </div>
</div>